:root {
    --black: #101826;
    --dark: #012E40;
    --primary: #024959;
    --stone: #F2EFE9;
    --white: #FFFDF5;
}

body { 
    font-family: Arial, sans-serif;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px; 
    margin: 60px auto; 
    padding: 20px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1,46,64,0.1);
}

.header { 
    text-align: center; 
    margin-bottom: 30px;
    color: var(--black);
}

.form-group {
    margin-bottom: 20px;
}

#model {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background: var(--stone);
    cursor: pointer;
}

#model option:hover {
    background-color: var(--primary);
    color: var(--white);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: var(--dark);
}

input[type="file"] {
    width: 97%;
    padding: 8px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background: var(--stone);
    cursor: pointer;
}

.btn-custom {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: var(--primary);
    color: var(--stone);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: var(--dark);
}

.result-box { 
    margin-top: 30px; 
    display: none; 
    background: var(--stone);
    padding: 15px;
    border-radius: 8px;
}

.result-text {
    font-size: 16px;
    margin-bottom: 15px;
}

.video-box video {
    width: 100%;
    border-radius: 8px;
}

.custom-select {
    position: relative;
    user-select: none;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background: var(--white);
    cursor: pointer;
}

.custom-select .selected {
    padding: 10px;
    color: var(--dark);
}

.custom-select .options {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border: 2px solid var(--primary);
    border-top: none;
    background: var(--white);
    z-index: 10;
}

.custom-select .options div {
    padding: 10px;
    cursor: pointer;
}

.custom-select .options div:hover {
    background: var(--primary);
    color: var(--stone);
}

.video-note {
    color: var(--black);
    font-weight: bold;
}

.wait-note {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--dark);
    margin-top: 20px;
}

.result-box {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
    transition: 0.2s;
}

.close-btn:hover {
    color: var(--primary);
}
